<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-2 col-lg-1 me-0 px-3 fs-6" href="#">Company name</a>
  <div class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand col-md-2 col-lg-1 me-0 px-3 fs-6">
      <span *ngIf="(familyMember$ | async)">Welcome, {{this.familyMember$.value?.first_name +
        ' ' + this.familyMember$.value?.last_name}}! </span>
      <span *ngIf="(familyMember$ | async)">Your level of the role: {{ this.familyMember$.value?.role}}. </span>
      <span *ngIf="(familyMember$ | async)" right>{{rightsOfAdmin(this.familyMember$.value?.role || 1)}}</span>
    </div>
  </div>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" routerLink="/login">
        <span *ngIf="(familyMember$ | async)">Sign out</span>
        <span *ngIf="!(familyMember$ | async)">Sign in</span>
      </a>
    </div>
  </div>
</header>
