<aside class="left-sidebar d-flex flex-column align-items-stretch flex-shrink-0">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <li *ngFor="let item of sidebar" class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="item.link" aria-expanded="false"><i
              class="mdi mdi-view-dashboard"></i><span class="hide-menu">
              <i-feather *ngIf="item.icon" [name]="item.icon"> </i-feather> {{item.title }}
            </span>
          </a>
        </li>

      </ul>
    </nav>

  </div>

</aside>