<body>
  <div class="text-403">4003</div>
  <div class="door"></div>
  <div id="hodor">
    <div class="l-arm">
      <div class="hand"></div>
      <div class="arm"></div>
    </div>
    <div class="r-arm">
      <div class="hand"></div>
      <div class="arm"></div>
    </div>
    <div class="body">
      <div class="backpack-strap-r"></div>
      <div class="backpack-strap-l"></div>
    </div>
    <div class="belt"></div>
    <div class="head">
      <div class="hair"></div>
      <div class="face"></div>
      <div class="r-eye"></div>
      <div class="l-eye"></div>
      <div class="r-brow"></div>
      <div class="l-brow"></div>
      <div class="beard"></div>
      <div class="bubble">H0D0R!</div>
    </div>
    <div class="l-leg">
      <div class="foot"></div>
    </div>
    <div class="r-leg">
      <div class="foot"></div>
    </div>
  </div>
  <!-- partial -->

  <div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold mb-3">Error 403 - Forbidden</h1>
      <h2 class="md-8 fs-8"> You do not have access to this page! Hodor, the stubborn hero blocking your
        way to this
        content. Your adventure has ended.</h2>
      <button class="btn btn-primary btn-lg" type="button" routerLink="/">Here is your help to find your way
        home. Another try, maybe?</button>
    </div>
    <h3 class="text-muted mt-4 mb-4">
      This is a custom error page, inspired by the free, 'Hodor 403' template by Yasio
      (https://codepen.io/Yasio/pen/xamBVV).
    </h3>
  </div>
</body>
